html,
body {
  height: 100%;
}


body {
    margin: 20px;
    background-color: WhiteSmoke;
    text-align: center;
    max-height: 100%;
  }

  .container {
    display: flex;
    max-height:fit-content;
    height:60%;
    width:60%;
    padding-top: 4rem;
    margin:auto;
  }
  
  
  .box {
    display: inline-flex;
    flex-grow: 2;
    flex-direction: column;
    margin:5%;
  }
  
  .row {
    min-height: 100px;
    display: flex;
    flex-wrap: row;
    justify-content: space-evenly;
    align-items: center;
  
  }
  
  
  .circle {
    background-color: #5abe86;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    animation: pulse 5s infinite ease-in-out;
  }

  @keyframes pulse {
    0% {
      background-color: #5abe86;
    }
    25% {
      background-color: #a6e7c2;
    }
    50% {
      background-color: #1f5336;
    }
    100% {
        background-color: #5abe86;
      }
  }

  .secondary {
    background-color: #1f5336;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    animation: secondary-pulse 5s infinite ease-in-out;
  }

  @keyframes secondary-pulse {
    0% {
      background-color:  #1f5336;
    }
    25% {
      background-color: #5abe86;
    }
    50% {
      background-color: #a6e7c2;
    }
    100% {
        background-color: #1f5336;
      }
  }

  .third {
    background-color: #a6e7c2;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    animation: third-pulse 5s infinite ease-in-out;
  }

  @keyframes third-pulse {
    0% {
      background-color:  #a6e7c2;
    }
    25% {
      background-color: #5abe86;
    }
    50% {
      background-color: #1f5336;
    }
    100% {
        background-color: #a6e7c2;
      }
  }




  #cut-diamond {
    border-style: solid;
    border-color: transparent transparent rgb(173, 102, 102) transparent;
    border-width: 0 0.7rem 0.7rem 0.7rem;
    height: 0;
    width: 1.5rem;
    box-sizing: content-box;
    position: relative;
    margin: 20px 0 50px 0;
  }
  #cut-diamond:after {
    content: "";
    position: absolute;
    top: 0.7rem;
    left: -0.7rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: rgb(173, 102, 102) transparent transparent transparent;
    border-width: 2rem 1.5rem 0 1.4rem;
  }
  
 #cut-diamond {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
 #cut-diamond:hover, #cut-diamond:focus, #cut-diamond:active {
    -webkit-transform: scale(1.4) rotate(5deg);
    transform: scale(1.4) rotate(5deg);
  }